@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body {
  min-height: 100vh;
  margin: 0;
}

main {
  min-height: calc(100vh - 199px);
}

a {
  text-decoration: none;
  font-style: inherit;
  color: inherit;
  /* display: block; */
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
